importFrom(kwb.utils, isNullOrEmpty)
importFrom(kwb.utils, selectColumns)
importFrom(kwb.utils, selectElements)

importFrom(kwb.datetime, hsToPosix)
importFrom(kwb.datetime, toUTC)

importFrom(lubridate, "%within%")

export(addSampleTimesToPlot)
export(addStatisticsToEvents)
export(addSumRow)
export(apply_H_threshold)
export(availableAutoSamplerFiles)
export(calculateVolumeCompositeSample)
export(configure)
export(createDummyEventThresholdFiles)
export(dateToDateStringInPath)
export(filterForRelevantBottles)
export(filterSampleEventsForFilename)
export(formatEvent)
export(formatEventStatistics)
export(formatEventStatisticsTable)
export(formatSettings)
export(getAllSamplerEvents)
export(getAllTypesOfEvents)
export(getHydraulicEvents)
export(getOrCreatePath)
export(getSampleInformation)
export(getSamplerEvents)
export(getStatisticsByEvent)
export(mergeParallelRainEventStat)
export(pathDictionary)
export(plotEventDistribution)
export(plotEventOverview)
export(plot_hydraulic_event)
export(plot_hydraulic_events)
export(plotOverview)
export(plot_sampled_event)
export(plotSampleInformation)
export(plotTotalDischargeVersusRainProperties)
export(printSampleInformation)
export(rainGaugesNearStation)
export(removeDuplicates)
export(removeIntervals)
export(sampleLogFileToSampleName)
export(samplingEventsToBottleEvents)
export(saveRegressionModel)
export(saveSampleInformation)
export(selectIntervalsForCorrelation)
export(showOverview)
export(validateAndFillHydraulicData)
export(writeCsvToPathFromDictionary)
